@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    src: url('museosanscyrl-300.ttf');
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 500;
    src: url('museosanscyrl-500.ttf');
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    src: url('museosanscyrl-700.ttf');
}

body {
    margin: auto;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-family: 'Museo Sans Cyrl';
    display: grid;
    grid-template-columns: 15em 15em 1fr;
    grid-template-rows: 25em;
    grid-gap: 1em;
}

.currency {
    text-decoration: overline;
    text-decoration-thickness: 0.2em;
    font-weight: 700;
}

.login {
    background-color: rgb(106, 106, 106, 0.08);
    padding: 2em;
}

.login__form {
    display: grid;
    grid-gap: 1em;
}

.login__input {
    font-family: inherit;
    padding: 1em;
    border: 0;
    border-radius: 5px;
}

.login__input:focus {
    outline: 1px solid #FECE00;
}

.login__btn {
    font-family: inherit;
    padding: 1em;
    border: 0;
    border-radius: 5px;
    background-color: #FECE00;
    width: 100%;
}

.login__btn:hover {
    background-color: #00CD52;
    color: #fff;
}

.balance {
    background-color: rgb(106, 106, 106, 0.08);
    padding: 2em;
}

.balance-wrapper {
    display: flex;
    align-items: center;
    font-size: 52px;
    font-weight: 700;
    height: min-content;
}

.balance__actual {
    margin: 0;
}

.game {
    background-color: rgb(106, 106, 106, 0.08);
    padding: 2em;
}

.game-header-box {
    display: flex;
    justify-content: space-between;
}

.game-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.game-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-cost {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.coin__icon {
    width: 15px;
}

.discount__badge {
    display: block;
    font-weight: 700;
    color: #fff;
    background-color: #FF1A1A;
    padding: 3px 7px;
    border-radius: 4px;
    transform: rotate(-12.65deg);
}

.game-discount {
    display: flex;
    column-gap: 0.5em;
}

.game-instruction__btn {
    background: 0;
    border: 0;
    font-family: inherit;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}

.game__btn {
    font-family: inherit;
    font-weight: 700;
    background-color: #FECE00;
    border: 0;
    border-radius: 5px;
    padding: 1em;
    width: 10em;
}

.game__btn:hover {
    background-color: #00CD52;
}

.game__btn:disabled {
    background-color: #00CD52;
    color: #fff;
}